<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
</head>
<body>
   <div id="nav">
    <img src="{%static 'image/logo.jpg'%}" alt="logo">
    <h4>Home</h4>
    <h4>Game</h4>
    <h4>Login</h4>
    <h4>Contact</h4>
   </div>
   <video autoplay  loop muted src="{%static 'image/37585-414024825_small.mp4'%}"></video>
<div id="main">
    <div id="page1">
        <h1>abc defr ghj </h1>
        <h2>welcome to mygameapp</h2>
        <p>this is a website for gaming 
            in this website i add some games
            it's just for practice to create a awesome website
            i hope u like this website
        </p>

    </div>
    <div id="page2"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{%static 'js/script.js'%}"></script>
</body>
</html>